doctype html
html(lang='en' x-data="{ darkMode: localStorage.getItem('dark') === 'true'}" x-bind:class="{ 'dark': darkMode }" x-init="$watch('darkMode', val => localStorage.setItem('dark', val)); if (!localStorage.getItem('dark')) {let x = window.matchMedia('(prefers-color-scheme: dark)').matches;localStorage.setItem('dark', x); $data.darkMode = x};" )
  head
    meta(charset="UTF-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{ title }
    meta(name="description" content=description)
    link(rel="canonical" href=filters.url(settings.url + page.url))
    // Option between inline or external tailwind css
    // link(rel="stylesheet" type="text/css" href="/static/css/style.css")
    style!= filters.inlineTailwind()
    if prism
      link(rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css")
    // Option between inline or external Alpine.js. If statement checks if it's switched on for the template.
    if alpine
     script(src="/static/js/alpine.js" defer)
     // script(defer)!= filters.inlineAlpine('./node_modules/alpinejs/dist/cdn.min.js')
  body(class="bg-white dark:bg-gray-800 text-gray-700 dark:text-white")
    include ./partials/navbar.pug

    | !{content}

    include ./partials/footer.pug

    script(async defer).
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }