- let posts = collections.post.reverse();

div(class="w-full max-w-5xl grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 gap-4 my-8 px-4 lg:mx-0 justify-items-center")
  each post in posts
    a.p-5.border.rounded-2xl.border-gray-200.shadow-lg(
      href=post.url,
      class="hover:border-slate-400 hover:shadow-xl max-w-md"
    )
      | !{ filters.image({ src: post.data.thumbnail, alt: post.data.thumbnaildesc, _class: "drop-shadow-xl rounded-3xl object-fill max-h-52 w-auto m-auto mb-5", lazy: false}) }
      h2 #{ post.data.title }
      p #{ post.data.description }
